---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-7" title="About me">
  <!-- TODO: Here do this About Frontend/Full Stack with JS svelte -->
  <br />

  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I am a <b class="text text-primary-800 animate-fadeIn"
        >Front End / Full Stack</b
      > software developer from Spain with more than <b
        class="text-primary-800 animate-fadeLateIn">5 years</b
      > of experience.
      <br />
      <br />
      It is a pleasure for me coding with:
      <ul class="list-disc list-inside md:text-sm">
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Redux</li>
        <li>React Native</li>
        <li>Astro</li>
        <li>Tailwind</li>
        <li>Styled</li>
        <li>Jest</li>
        <li>Node.js</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I enjoy traveling and surfing, as well as functional training and hiking
      in the mountains, especially in my hometown, Gijón, Asturias
    </p>
  </div>
</Card>
