---
import Card from "./Card/index.astro";
import { PROJECTS } from "../lib/constants";
---

<Card
  colSpan="lg:col-span-2"
  rowSpan="md:row-span-2"
  title="Some of my Projects"
>
  <div class="flex flex-col lg:flex-row mt-4 justify-between">
    {
      PROJECTS.map(({ title, technology, url }) => (
        <div>
          <h2 class="text-gray-500 md:text-xs lg:text-lg	">{technology}</h2>
          <ul>
            <li>
              <a
                class="hover:text-primary-300 font-extrabold duration-300 md:text-xs lg:text-lg"
                target="_blank"
                href={url}
                rel="noopener noreferrer"
              >
                {title}
              </a>
            </li>
          </ul>

          <br />
        </div>
      ))
    }
  </div>
</Card>
